/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  background-color: white;
}

* *::before *::after {
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: "Fira Sans", sans-serif;
  line-height: 1.8;
  text-align: center;
}

body h1 {
  font-size: 3rem;
  line-height: 1;
  padding: 1vh 0 4vh 0;
}
body h2 {
  font-size: 2.4rem;
  line-height: 1.1;
  padding: 1em 0 -2em;
}

ion-icon {
  font-size: 2em;
  color: #e42424;
  padding: 1em 0 0 0;
}

main,
table {
  margin: 0 1em;
}

nav ion-icon {
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 4px 0px 4px;
  margin: 0 0 0.3em 0;
  box-shadow: 0 5px 4px #d3d3d3;
}

a {
  text-decoration: none;
}

ul li {
  display: inline;
  color: gray;
  padding: 0em 0.3em;
}

button {
  background-image: linear-gradient(to right, #6cc1e2, #392f7a);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
}

button:hover {
  box-shadow: 0px 1px 8px 5px black;
  transition: 0.8s;
  transform: scale(1.1);
}
/*MAIN*/
main img {
  height: 50%;
  width: 100%;
}

main div {
  padding: 1vh 0 1vh 0;
}

article {
  padding-bottom: 5vh;
}

caption {
  font-size: 1.8rem;
  padding-top: 8vh;
}
table {
  width: 90%;
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem;
  text-align: start;
}
th,
td {
  width: 25px;
}

.bold {
  font-weight: bold;
}

.grey_space {
  background-color: #d4dde6;
}

/* FOOTER */

.social_icon ion-icon {
  font-size: 30px;
}

h3 {
  font-size: 0.8rem;
}

footer p {
  text-align: start;
}
footer {
  background-color: rgb(238, 238, 238);
  font-size: 1.1rem;
  padding: 2em 2em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

footer input {
  background-color: white;
  border: 1px solid black;
  padding: 20px 68px;
}

footer button {
  background-image: linear-gradient(to right, #6cc1e2, #392f7a);
  border: none;
  color: white;
  padding: 20px 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

footer h2 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: start;
  padding: 1em 0;
}

/* RESPONSIVE */
@media screen and (min-width: 0px) and (max-width: 767px) {
  .list {
    display: none;
  }

  .table2 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .icon1 {
    display: none;
  }

  nav {
    display: flex;
    flex-wrap: nowrap;
  }

  .contatti {
    display: flex;
  }

  h3 {
    font-size: 1rem;
  }

  footer div {
    padding: 0 2px 0 2px;
  }

  .immagini {
    display: flex;
    justify-content: space-between;
    gap: 4vw;
  }

  .img1,
  .img2 {
    height: 20%;
  }

  .table1 {
    display: none;
  }

  .blu_space {
    background-color: #66819f;
    font-weight: 500;
    color: white;
  }

  .table2 {
    margin-right: 5vw;
  }
  .table2 tr {
    font-size: 1.2rem;
  }

  .table2 th {
    padding-top: 20px;
  }

  @media screen and (min-width: 1024px) {
    .img1,
    .img2 {
      height: 20%;
    }

    main {
      margin: 0 5em;
    }

    .table2 {
      margin: 0 8em;
    }

    .table2 th,
    .table2 td {
      text-align: center;
      padding-top: 12px;
    }
  }

  nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}
